
<div class="container">
	<div class="shop">
		<div class="subtitle-s">shop</div>
		<h2 class="subtitle">Surfboards</h2>
		<div class="shop__container">
			<div class="shop__item">
				<img src="img/board1.png" alt="">
				<div class="shop__desc">
					<div class="shop__name">Funboards</div>
					<div class="shop__title">Chilli Rare Bird</div>
					<div class="shop__buy">
						<div class="shop__price">$890</div>
						<button class="shop__btn">buy</button>
					</div>
				</div>
			</div>
			<div class="shop__item">
				<img src="img/board1.png" alt="">
				<div class="shop__desc">
					<div class="shop__name">Funboards</div>
					<div class="shop__title">Chilli Rare Bird</div>
					<div class="shop__buy">
						<div class="shop__price">$890</div>
						<button class="shop__btn">buy</button>
					</div>
				</div>
			</div>
			<div class="shop__item">
				<img src="img/board1.png" alt="">
				<div class="shop__desc">
					<div class="shop__name">Funboards</div>
					<div class="shop__title">Chilli Rare Bird</div>
					<div class="shop__buy">
						<div class="shop__price">$890</div>
						<button class="shop__btn">buy</button>
					</div>
				</div>
			</div>
		</div>
		<button class="btn-more">Show All</button>
	</div>
</div>
               