
<div class="container">
	<div class="slider-outer">
		<div class="slider js-slider">
			<div class="slider__item">
				<div class="slider__photo">
					<img src="img/slide1.png" alt="">
				</div>
				<div class="slider__text">
					<div class="subtitle-s">your</div>
					<h1 class="slider__title">Beautiful Escape</h1>
					<div class="description">
						<p>
							One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
						</p>
					</div>
				</div>
			</div>
			<div class="slider__item">
				<div class="slider__photo">
					<img src="img/slide1.png" alt="">
				</div>
				<div class="slider__text">
					<h1 class="slider__title">Beautiful Escape</h1>
					<div class="description">
						<p>
							One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
						</p>
					</div>
				</div>
			</div>
			<div class="slider__item">
				<div class="slider__photo">
					<img src="img/slide1.png" alt="">
				</div>
				<div class="slider__text">
					<h1 class="slider__title">Beautiful Escape</h1>
					<div class="description">
						<p>
							One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-btns">
			<div class="slick-btn slick-prev-btn">
				{{mixins.icon('prev')}}
			</div>
			<div class="slick-btn slick-next-btn">
				{{mixins.icon('next')}}
			</div>
		</div>
	</div>

</div>
               